h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "museo-slab", serif;
}

body {
    font-family: "museo-sans", sans-serif;
}


a {
  color: #333333;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #262626;
  text-decoration: bold;
}

a:focus {
  outline: thin dotted #262626;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#body{ 
}

.title {
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
}

.highlight {
  background: #ffff00;
}


.forehead {
    position: relative;
    color: #ffffff;
    text-align: center;
    background-color: #000000;
    padding: 15px;
    margin-bottom: 30px;
    opacity: 1;
}

.logo {
}

.logo h1 {
    margin: 0;
    font-family: 'Lato', 'museo-sans', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 6px;
    font-weight: 100;

}
.logo a {
    color: #ffffff;
    text-decoration: none;
}

.camel {
    font-size: 141%; /* square root of 2 ratio, hah */
    letter-spacing: 3px;
}

footer {
    background-color: #f5f5f5;
    padding: 40px;
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.no-margin {
   margin: 0; 
}

.sidebar {
    font-family: 'museo-slab', serif;
}
a.sidebar {
    text-decoration: none;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.home-nav {
    padding-top: 40px;
}