.labs {
    .col {
        padding: 5px;
    }
    h3 {
        margin-top: 0;
    }
    .thumbnail {
        border-radius: 0;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
    }

}
