/* Custom css for the resume page  */
.resume {
    .page-header {
        margin-top: 0;
    }
    header {
        text-align: center;
    }
    .resume-title, .resume-subtitle {
        h1, h2, h3, h4, h5, h6 {
            font-family: "museo-sans", sans-serif;
        }
        .right {
            text-align: right;
        }
    }
    .resume-title {
        h1, h2, h3, h4, h5, h6 {
            font-weight: 500;
        }
    }
    .resume-subtitle {
        h1, h2, h3, h4, h5, h6 {
            margin-top: 0;
            font-weight: 300;
        }
    }
    li {
        font-weight: 300;
        strong {
            font-weight: 500;
        }
    }
    .module {
        padding-bottom: 20px;
    }
    .panel-body {
        ul {
            padding-left: 10px;
        }
    }
    .no-padding {
        padding: 0;
    }
    #labs-button {
        margin-top: 30px;
    }
    #honors {
        .row {
        }
        .left {
            font-weight:700;
            @media (min-width: 768px) {
                float: right;
            }
        }
        .right {
            ul {
                list-style: none;
                padding-left: 0;
                li {
                    padding-bottom: 10px;
                }
            }
        }
    }

    #contact {
        padding-top: 10px;
    }
}
