/* Colors */
$link       : #999999;
$link_hover : #333333;

/* Fonts */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "museo-slab", serif;
    font-weight: 400;
}

body {
    font-family: "museo-sans", sans-serif;
    line-height: 23px;
}
p {
    margin-top: 15px;
}
h1, h2, h3 {
    margin-top: 30px;
}

.table td {
    border: 0 !important;
}
.navbar {
    border: 0;
    border-radius: 0;
    background-color: #000000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;

    .logo {
        width: 100%;
        text-align: center;
        position: absolute;
        height: 100%;
        display: block;
        padding: 11px 0;
    }
    .navbar-toggle {
        border: 0;
        background-color: black;
        border-radius: 0;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
    } 
    .icon-bar {
        border-radius: 0;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
    }
}

.torso {
    padding-top: 100px;
}

/* Links */
a {
    color: $link;
    text-decoration: none;

    &:hover, &:focus {
        color: $link_hover;
        text-decoration: bold;
    }
}

header {
    margin-bottom: 20px;
    h1 {
        margin: 0;
        a {
            color: black;
        }
    }
    .subtitle {
        color: $link;
        font-size: 85%;
        padding-top: 5px;
    }
}

a:hover,
a:focus {
  color: #262626;
  text-decoration: bold;
}

/* Sidebar */
.navbar-nav, .sidebar {
    font-family: "museo-slab", serif;
    font-weight: 500;
}
.sidebar > li > a {
    color: black;
}

.sidebar {
    position: fixed;
    margin-top: 100px;
}
/* Main formatting */
.title {
    color: white;
    font-weight: 700;
    font-size: 50px;
}

/* Page top */

.forehead {
    /*position: relative;*/
    position: fixed;
    width: 100%;
    color: white;
    text-align: center;
    background-color: black;
    padding: 17px 0 17px;
    margin-bottom: 30px;
    opacity: 1;
    z-index: 99;
}

/* Custom goodies */
.highlight {
  background: #ffff00;
}



.logo {
    h1 {
        margin: 0;
        font-family: 'omnes-pro', 'museo-sans', sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 6px;
        font-weight: 100;
    }
    a {
        color: #ffffff;
        text-decoration: none;
    }
    .camel {
        font-size: 141%; /* square root of 2 ratio, hah */
        letter-spacing: 6px;
    }
}

@media (max-width: 350px) {
    .navbar .logo h1 {
        text-align: left;
        padding-left: 11px;
    }

}

@media (max-width: 768px) {
    .logo h1 {
        font-weight: 300;
    }
    .sidebar {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        display: none !important;
    }
}
footer {
    padding: 40px;
    position: relative;
    text-align: center;
    margin-top: 50px;
    font-size: 12px;
    font-family: "museo-slab", serif;
}

.no-margin {
   margin: 0; 
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
pre {
    font-family: "source-code-pro",sans-serif;
}

blockquote p{
    font-size: inherit;
}

.alert {
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.hightlight {
    background: #ffff00;
}

/* Posts */

$panel-inverse:  #000000;
.panel, .panel-heading {
     border-radius: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}
.panel-reverse {
  border-color: $panel-inverse;
}
.panel-reverse > .panel-heading {
  color: $panel-inverse; 
  background-color: white;
  border-color: $panel-inverse;
}
.panel-reverse > .panel-heading + .panel-collapse .panel-body {
  border-top-color: $panel-inverse;
}
.panel-reverse > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: $panel-inverse;;
}

.about-box {
    margin-top: 60px;
}

/* Some outbrain tweaks */
.ob_org_header {
    font-family: "museo-slab", serif;
}

.outbrain {
    padding-top: 30px;
}

/* Posts page */
#posts {
    .date {
        width: 30%;
    }
    .title {
        width: 70%;
    }
    td {
        border: 0;
    }
}
.business-card {
    width: 350px;
    height: 200px;
    margin: 20px auto;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-family: 'omnes-pro', 'museo-sans', sans-serif; 
    a {
        color: #ffffff;
    }
    .panel-body {
        display: inline;
        vertical-align: middle;
    }
    .logo {
        padding: 15px 0 20px;
    }
    .logo-body {
        font-size: 80%;
    }
}
