body {
    background-color: #000000;
}

.container {
    padding-top: 100px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #e6e6e6;
  text-decoration: bold;
}

.home-nav {
    font-family: 'omnes-pro', sans-serif;
    font-size: 15px;
    line-height: 50px;
    padding: 20px 0 20px 0;
    font-weight: 300;
    a:hover {
        text-decoration: none;
    }
}

.social img {
    margin: 5px 5px 5px 5px;
}