/* Custom css for the resume page  */
.resume {
    header {
        text-align: center;
    }
    .resume-title {
        font-family: museo-sans;

        .right {
            text-align: right;
        }
    }
    .resume-subtitle {
        font-family: museo-sans;
        .right {
                text-align: right;
            }
        }
    }
}
