---
title: Resume
permalink: /resume/
description: Resume for Philip I. Thomas, Software Engineer in San Francisco
---

<article class="resume">
    <section id="professional">
        <div class="page-header"><h2>Professional</h2></div>
        {% for section in site.data.resume_professional %}
          {% include layout/resume_section.html %}
        {% endfor %}
    </section>

    <section id="education">
      <div class="page-header"><h2>Education</h2></div>
        {% for section in site.data.resume_education %}
          {% include layout/resume_section.html %}
        {% endfor %}

    </section>

    <section id="projects">
      <div class="page-header"><h2>Projects</h2></div>
        {% for section in site.data.resume_projects %}
          {% include layout/resume_section.html %}
        {% endfor %}

    </section>

    <section id="skills">
        <div class="page-header"><h2>Skills</h2></div>
        {% include layout/resume_skills.html %}
    </section>

    <section id="honors">
      <div class="page-header"><h2>Honors</h2></div>
        <div class="container no-padding">
          {% for section_hash in site.data.resume_honors %}
            {% include layout/resume_column.html %}
          {% endfor %}
        </div>
    </section>
</article>
