---
layout: main
title: Projects
permalink: /projects/
description: Projects of Philip I. Thomas
---

<h1>Labs</h1>

<div class="container labs">
    <div class="row">
        <div class="project col project col-md-6 project col-sm-12">
            {% include projects/balance.html %}
        </div>
        <div class="project col project col-md-6 project col-sm-12">
            {% include projects/beer.html %}
        </div>
    </div>
    <div class="row">
        <div class="project col project col-md-6 project col-sm-12">
            {% include projects/ftnm.html %}
        </div>
        <div class="project col project col-md-6 project col-sm-12">
            {% include projects/killthelandline.html %}
        </div>
    </div>
    <div class="row">
        <div class="project col project col-md-6 project col-sm-12">
            {% include projects/numbers.html %}
        </div>
        <div class="project col project col-md-6 project col-sm-12">
            {% include projects/poutine.html %}
        </div>
    </div>
    <div class="row">
        <div class="project col project col-md-6 project col-sm-12">
            {% include projects/queue.html %}
        </div>
        <div class="project col project col-md-6 project col-sm-12">
            {% include projects/robot.html %}
        </div>
    </div>
    <div class="row">
        <div class="project col project col-md-6 project col-sm-12">
            {% include projects/scheduling.html %}
        </div>
        <div class="project col project col-md-6 project col-sm-12">
            {% include projects/sparolabs.html %}
        </div>
    </div>
    <div class="row">
        <div class="project col project col-md-6 project col-sm-12">
            {% include projects/textreject.html %}
        </div>
        <div class="project col project col-md-6 project col-sm-12">
            {% include projects/cv.html %}
        </div>
    </div>
    <div class="row">
        <div class="project col project col-md-6 project col-sm-12">
            {% include projects/diffusion.html %}
        </div>
        <div class="project col project col-md-6 project col-sm-12">
            {% include projects/sparolabs.html %}
        </div>
    </div>
</div>
