---
layout: main 
title: Resume
permalink: /resume/
---
<article class="resume">
    <header>
        <h1>Resume</h1>
    </header>
    <section id="education">
        <div class="page-header"><h2>Education</h2></div>
        {% include resume/education.html %}
    </section>

    <section id="experience">
        <div class="page-header"><h2>Experience</h2></div>
        {% include resume/experience.html %}
    </section>

    <section id="technical">
        <div class="page-header"><h2>Technical</h2></div>
        {% include resume/technical.html %}
    </section>

    <section id="honors">
        <div class="page-header"><h2>Honors</h2></div>
        {% include resume/honors.html %}
    </section>
</article>
