---
layout: main 
title: Resume
permalink: /resume/
description: Resume for Philip I. Thomas, Software Engineer in San Francisco
---
<article class="resume">
    
    <section id="about">
        <div class="page-header no-top-margin"><h2>About</h2></div>
        {% include resume/about.html %}
    </section>

    <section id="education">
        <div class="page-header"><h2>Education</h2></div>
        {% include resume/education.html %}
    </section>

    <section id="technical">
        <div class="page-header"><h2>Technical</h2></div>
        {% include resume/technical.html %}
    </section>

    <section id="experience">
        <div class="page-header"><h2>Experience</h2></div>
        {% include resume/experience.html %}
    </section>
    
    <section id="leadership">
        <div class="page-header"><h2>Leadership</h2></div>
        {% include resume/leadership.html %}
    </section>

    <section id="honors">
        <div class="page-header"><h2>Honors and Skills</h2></div>
        {% include resume/honors.html %}
    </section>

    <section id="facts">
        <div class="page-header"><h2>Fun Facts</h2></div>
        {% include resume/facts.html %}
    </section>

</article>
