---
layout: page
title: Resume
permalink: /resume/
description: Resume for Philip I. Thomas, Software Engineer in San Francisco
---

<article class="resume">
    <section id="professional">
        <div class="page-header"><h2>Professional</h2></div>
        {% for section in site.data.resume_professional %}
          {% include layout/resume_section.html %}
        {% endfor %}
    </section>

    <section id="education">
      <div class="page-header"><h2>Education</h2></div>
        {% for section in site.data.resume_education %}
          {% include layout/resume_section.html %}
        {% endfor %}

    </section>

    <section id="leadership">
      <div class="page-header"><h2>Leadership</h2></div>

    </section>

    <section id="technical">
      <div class="page-header"><h2>Technical</h2></div>

    </section>

    <section id="skills">
      <div class="page-header"><h2>Honors and Skills</h2></div>

    </section>
</article>
