<div class="thumbnail">
    <img src="/images/projects/balance.jpg" alt="Ball and Beam Control System">
    <div class="caption">
        <h3>Ball and Beam Control System</h3>
        <p>Class project using cascading control systems to balance a ball bearing at a specific point.</p>
    </div>
    <div class="btn-group btn-group-justified">
        <a href="/ball-and-beam/" class="btn btn-xs btn-primary">Details</a>
        <a href="https://github.com/philipithomas/BallAndBeam" class="btn btn-xs btn-inverse">Code</a>
    </div>
</div>
