<div class="thumbnail">
    <img src="/images/projects/brouhaha.jpg" alt="Brouhaha" />
    <div class="caption">
        <h3>Brouhaha</h3>
        <p>Explorations in Learning and Culture.</p>
    </div>
    <div class="btn-group btn-group-justified">
        <a href="http://www.brouhaha.io" class="btn btn-xs btn-primary">Details</a>
        <a href="https://github.com/philipithomas/brouhaha" class="btn btn-xs btn-inverse">Code</a>
        <a href="/press/#brouhaha" class="btn btn-xs btn-success">Press</a>
    </div>
</div>
