
<div class="thumbnail">
    <img src="/images/projects/dla.jpg" alt="Diffusion" />
    <div class="caption">
        <h3>Diffusion</h3>
        <p>Modeling diffusion as a stochastic process in Matlab.</p>
    </div>
    <div class="btn-group btn-group-justified">
        <a href="https://www.philipithomas.com/computational-analysis-of-diffusion-as-a-stochastic-system/" class="btn btn-xs btn-primary">Details</a>
        <a href="https://github.com/philipithomas/diffusion" class="btn btn-xs btn-inverse">Code</a>
    </div>
</div>
