
<div class="thumbnail">
    <img src="/images/projects/ftnm.jpg" alt="Food Trucks Near Me" />
    <div class="caption">
        <h3>Food Trucks Near Me</h3>
        <p>Food Truck Finder app launched in four cities. <span class="label label-default">Deprecated</span></p>
    </div>
    <div class="btn-group btn-group-justified">
        <a href="/ending-food-trucks-near-me/" class="btn btn-xs btn-primary">Details</a>
        <a href="https://github.com/philipithomas/FoodTrucksNearMe" class="btn btn-xs btn-inverse">Code</a>
        <a href="/press/#ftnm" class="btn btn-xs btn-success">Press</a>
    </div>
</div>
