
<div class="thumbnail">
    <img src="/images/projects/killthelandline.jpg" alt="Kill the Landline" />
    <div class="caption">
        <h3>Kill the Landline</h3>
        <p>App for forwarding old phone numbers to a cell phone. Honorable Mention, Startup Weekend Columbia 2012. <span class="label label-default">Deprecated</label></p>
    </div>
    <div class="btn-group btn-group-justified">
        <a href="/kill-the-landline-at-startup-weekend-columbia/" class="btn btn-xs btn-primary">Details</a>
        <a href="https://github.com/killthelandline" class="btn btn-xs btn-inverse">Code</a>
    </div>
</div>
