
<div class="thumbnail">
    <div class="caption">
        <h3>Queue Simulator</h3>
        <p>Web tool for determining number of cashiers in a restaurant using a <a href="http://en.wikipedia.org/wiki/Queueing_theory">queuing theory</a> M/M/1 model.</p>
    </div>
    <div class="btn-group btn-group-justified">
        <a href="http://queue.philipithomas.com" class="btn btn-xs btn-primary">Details</a>
        <a href="https://github.com/philipithomas/Queue_Simulator" class="btn btn-xs btn-inverse">Code</a>
    </div>
</div>
