<div class="panel panel-reverse about-box">
    <div class="panel-heading"><h4>About</h4></div>
    <div class="panel-body">
    Philip is an explorer and engineer who lives in San Francisco. Follow Philip on <a class="btn btn-default btn-sm" href="http://facebook.com/philipithomas"><span class="glyphicon glyphicon-thumbs-up"></span> Facebook</a> and on <a class="btn btn-default btn-sm" href="http://twitter.com/philipithomas"><i class="glyphicon glyphicon-retweet"></i> Twitter</a>. Visit the <a href="/about/">about page</a> or <a href="mailto:mail@philipithomas.com">send an email</a>. 
    </div>
</div>

