<div class="container">
    <div class="row">
        <div class="col col-md-8 col-sm-12">
            <div>
                I am a recent college graduate with interests in data analysis and operations research. I work in San Francisco at <a href="http://opendns.com">OpenDNS</a> as a Software Engineer</a>.
            </div>
            <div id="contact"><strong>Contact:</strong></div>
            <a href="mailto:mail@philipithomas.com">mail@philipithomas.com</a>
            <address>
                660 4th Street Suite 138<br>
                San Francisco, CA 94107<br>
            </address>
        </div>
        <div class="col-md-4 hidden-sm">
            <img src="/images/eng_mug_200.jpg" width="200" height="200" align="right" style="padding: 0 0 20px 20px;" alt="Philip I Thomas" />
        </div>
    </div>
</div>
