<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            Washington University in St. Louis
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            St. Louis, MO
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Bachelor of Science in Systems Engineering
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
            Graduation May 2013
        </h5>
    </div>
    <ul>
        <li><strong>Second Major:</strong> Physics.</li>
        <li><strong>Minor:</strong> Electrical Engineering.</li>
        <li><strong>Senior Project:</strong> <a href="http://scheduling.philipithomas.com">Scheduling Algorithm with Optimization of Employee Satisfaction.</a></li>
    </ul>
</div>

