<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            Washington University in Saint Louis
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            Saint Louis, MO
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h3 class="left pull-left col-sm-5 col-md-5 col-lg-3">
            Bachelor of Science
        </h3>
        <h3 class="right pull-right col-sm-5 col-md-5 col-lg-3">
            May 2013
        </h3>
    </div>
    <ul>
        <li>Majors: Systems Engineering, Physics.</li>
        <li>Minor: Electrical Engineering.</li>
        <li>Honors: J. Alan and Marcia K. Ritter Scholar.</li>
        <li>Relevant Coursework: Signal Analysis, Stochastic Simulation, Operations Research.</li>
        <li>Senior Project: Scheduling Algorithm with Optimization of Employee Satisfaction.</li>
    </ul>
</div>

