<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            OpenDNS
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            San Francisco, CA
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
        Software Engineer, A-Team
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
            May 2013 - Present
        </h5>
    </div>
    <ul>
        <li>Customer success team focusing on interrupt-driven bug fixes and short-term projects to support the 50,000,000 daily users of <a href="http://www.opendns.com">OpenDNS</a> and <a href="http://www.umbrella.com">Umbrella</a>.</li>
        <li>Emphasis on rapid deployment across all infrastructure, with production code in front-end MVC, back-end API, Hadoop, server configuration management, native Windows application, and native OS X application.</li>
    </ul>
</div>

<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            Text Reject
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            St. Louis, MO
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Co-Founder
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
            Oct 2012 - Present
        </h5>
    </div>
    <ul>
        <li>Designed, programmmed, and marketed an series of rejection-sending phone numbers that publish conversations online.</li>
        <li><strong>Semifinalist:</strong> Arch Grants International Startup Competition, Student Startup Madness Competition.
    </ul>
</div>

