<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            OpenDNS
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            San Francisco, CA
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
        Software Engineer, A-Team
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
            05/2013 - Present
        </h5>
    </div>
    <ul>
        <li>Customer success team focusing on interrupt-driven bug fixes and short-term projects to support the 50,000,000 daily users of <a href="http://www.opendns.com">OpenDNS</a> and <a href="http://www.umbrella.com">Umbrella</a>.</li>
        <li>Emphasis on rapid deployment across all infrastructure, with production code in front-end MVC, back-end API, Hadoop, server configuration management, native Windows application, and native OS X application.</li>
    </ul>
</div>

<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            Text Reject
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            St. Louis, MO
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Co-Founder
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
           10/2012 - Present
        </h5>
    </div>
    <ul>
        <li>Designed, programmmed, and marketed an series of rejection-sending phone numbers that publish conversations online.</li>
    </ul>
</div>

<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            Cultivation Capital
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            St. Louis, MO
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Analyst
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
            03/2012 - 05/2013
        </h5>
    </div>
    <ul>
        <li>Performed screening of potential investments with a focus on technical analysis.</li>
    </ul>
</div>

<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            Sparo Labs
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            St. Louis, MO
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Software Engineer
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
            01/2013 - 05/2013
        </h5>
    </div>
    <ul>
        <li>Contract Position.</li>
        <li>Implemented Ruby on Rails-based application for capturing medical device signal, analyzing the recording with a signal processing algorithm in Matlab, and outputting processed data with <a href="www.highcharts.com">Highcharts</a>.</li>
        <li>Won 1st place in <a href="http://engineering.wustl.edu/disc-comp.aspx">WUSTL Discovery Competition</a>.</li>
    </ul>
</div>

<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            WUSauce
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            St. Louis, MO
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Communication Chair
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
           09/2010 - 05/2013
        </h5>
    </div>
    <ul>
        <li>Performed with audition-only salsa dance team, taught salsa lessons, and participated in community outreach.</li>
        <li>Implemented improved website and email marketing system, resulting in 20% increase in annual audition attendance and 200% increase in weekly lesson retention throughout each semester.</li>
        <li>Managed public relations campaign, including negotiating a <a href="http://www.philipithomas.com/wusauce-tv/">live performance on TV</a></li>
        <li>Served as Communication Director for annual Dance-Off event in 2011, 2012, and 2013, resulting in over 500 students attending each event.</li>

    </ul>
</div>

<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            Washington University in St. Louis Department of Physics
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            St. Louis, MO
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Teaching Assistant, General Physics
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
            08/2011 - 05/2013
        </h5>
    </div>
</div>

<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            Rackspace
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Technical Blogger
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
            September 2010 - May 2013
        </h5>
    </div>
    <ul>
        <li>Performed with audition-only salsa dance team, taught salsa lessons, and participated in community outreach.</li>
        <li>Implemented improved website and email marketing system, resulting in 20% increase in annual audition attendance and 200% increase in weekly lesson retention throughout each semester.</li>
        <li>Managed public relations campaign, including negotiating a <a href="http://www.philipithomas.com/wusauce-tv/">live performance on TV</a></li>
        <li>Served as Communication Director for annual Dance-Off event in 2011, 2012, and 2013, resulting in over 500 students attending each event.</li>

    </ul>
</div>


