<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            OpenDNS
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            San Francisco, CA
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Software Engineer, A-Team
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
            May 2013 - Now 
        </h5>
    </div>
    <ul>
        <li>Focus on interrupt-driven bug fixes and short-term projects to support the 50,000,000 daily users of <a href="http://www.opendns.com">OpenDNS</a> and <a href="http://www.umbrella.com">Umbrella</a>.</li>
        <li>Emphasize rapid deployment across all infrastructure, with production code in front-end MVC, back-end API, Hadoop, server configuration management, advertisement optimization, native Windows application, and native OS X application.</li>
        <li>Projects resulted in $100,000+ annual increase in ad revenue, retention of top 5 customers, and release of API.</li>
    </ul>
</div>

<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            Text Reject
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            St. Louis, MO
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Co-Founder
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
           Oct 2012 - Now 
        </h5>
    </div>
    <ul>
        <li>Designed, programmmed, and marketed an series of rejection-sending phone numbers that publish conversations online.</li>
        <li>Served 6,000+ text messages and 25,000+ web views, resulting in <a href="/press/#textreject">extensive media coverage</a>. </li>
    </ul>
</div>

<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            Cultivation Capital
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            St. Louis, MO
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Analyst, Due Diligence Team
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
            Mar 2012 - May 2013
        </h5>
    </div>
    <ul>
        <li>Performed screening of potential investments with a focus on technical analysis.</li>
        <li>Contributed to analysis of 9 of 10 initial investments, resulting in being recognized as a <a href="http://www.forbes.com/sites/karstenstrauss/2013/08/26/big-money-midwest-12-venture-players/">Top 12 Midwest Venture Player</a> by Forbes.</li>
    </ul>
</div>

<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            Sparo Labs
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            St. Louis, MO
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Software Engineer (Contract Position)
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
            Jan 2013 - May 2013
        </h5>
    </div>
    <ul>
        <li>implemented ruby on rails-based application for capturing medical device signal, analyzing the recording with a signal processing algorithm in matlab, and outputting processed data.</li>
        <li>won 1st place in <a href="http://engineering.wustl.edu/disc-comp.aspx">wustl discovery competition</a>.</li>
    </ul>
</div>


<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            Washington University in St. Louis Department of Physics
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            St. Louis, MO
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Teaching Assistant, General Physics
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
            Aug 2011 - May 2013
        </h5>
    </div>
</div>

<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            Washington University in St. Louis Department of Computer Science
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            St. Louis, MO
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Teaching Assistant, Introduction to Matlab
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
            Aug 2011 - May 2013
        </h5>
    </div>
</div>

<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            Washington University School of Medicine in St. Louis
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            St. Louis, MO
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Student Researcher
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
            Aug 2009 - Jun 2012
        </h5>
    </div>
    <ul>
        <li>Studied the pathogenic fungus Cryptococcus neoformans with in vitro, in vivo, and computational techniques.</li>
        <li>Designed, developed, and implemented a scalable C. neoformans Strain Database for collaborative use in the scientific community.</li>
    </ul>
</div>

