<ul>
    <li>I played cello for 9 years, competed as a soloist and in an orchestra, and toured the USA and Hungary.</li>
    <li>I have tried <a href="http://beer.philipithomas.com">over 700 different beers</a>.</li>
    <li>I was a <a href="http://www.nflonline.org/points_application/studentprofile.php?id=1249538">competitive speaker</a> and <a href="/san-francisco-speech-photos">continue public speaking</a>.</li>
    <li>I am in the Perrysburg High School Hall of Fame for Outstanding Achievement in a Foreign Language.</li>
</ul>
