<div class="container no-padding">
    <div class="row">
        <div class="col-sm-3">
            <strong class="left">
                Awards
            </strong>
        </div>
        <div class="col-sm-9 right">
            <ul>
                <li>1st place, <a href="http://news.wustl.edu/news/Pages/25373.aspx">2013 WUSTL Discovery Competition</a> (<a href="http://www.sparolabs.com">Sparo Labs</a>)</li>
                <li>Eagle Scout</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong class="left">
                Associations
            </strong>
        </div>
        <div class="col-sm-9 right">
            <ul>
                <li>Board of Directors, <a href="http://wute.vc/team/">wute.vc</a></li>
                <li>Reunion Committee, <abbr title="Washington University in St. Louis">WUSTL</abbr> Class of 2013</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong class="left">
                Authorship
            </strong>
        </div>
        <div class="col-sm-9 right">
            <ul>
                <li><a href="http://www.rackspace.com/blog/author/philip-thomas/">Official Rackspace Blog</a></li>
                <li><a href="http://www.bizjournals.com/stlouis/search/results/_author/By+Philip+Thomas?q=%22Philip+Thomas%22">St. Louis Business Journal</a></li>
            </ul>
        </div>
    </div>
</div>
