
<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            Washington University Tech Entrepreneurs
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            St. Louis, MO
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Director, <a href="http://wute.vc">wute.vc</a>
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
            Sept 2011 - May 2013
        </h5>
    </div>
    <ul>
        <li>Launched <abbr title="Washington University Tech Entrepreneurs - Venture Capital">wute.vc</abbr>, a lecture series connecting students with venture capitalists and seasoned entrepreneurs, resulting in sponsorship by <a href="http://cultivationcaptital.com">Cultivation Capital</a>.</li>
        <li>Attracted over 200 students to <a href="http://wute.vc/2012/10/press-release-alexis-ohanian-kicks-off-student-run-venture-capital-lecture-series-at-wustl/">first wute.vc speech by Reddit Co-Founder Alexis Ohanian</a> using a paperless marketing campaign.</li>
        <li>Secured entry to the <a href="http://www.rackspacestartups.com/">Rackspace Startup Program</a>, including $3,000 worth of free hosting</li>
        <li>Managed events with speakers including Twitter Founder Jack Dorsey, Square Founder Jim McKelvey, Venture Capitalist and Author Brad Feld, and Reddit Founder Alexis Ohanian</li>

    </ul>
</div>
<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            WUSauce
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            St. Louis, MO
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Communication Chair
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
           Sept 2010 - May 2013
        </h5>
    </div>
    <ul>
        <li>Performed with audition-only salsa dance team, taught salsa lessons, and participated in community outreach.</li>
    </ul>
</div>
<div class="module">
    <div class="resume-title row">
        <h4 class="left col-sm-8">
            Washington University Student Investment Fund
        </h4>
        <h4 class="right col-sm-4 hidden-xs">
            St. Louis, MO
        </h4>
    </div>
    <div class="resume-subtitle row">
        <h5 class="left col-sm-8">
            Communication Chair
        </h5>
        <h5 class="right col-sm-4 hidden-xs">
            Jan 2010- June 2012
        </h5>
    </div>
    <ul>
        <li>Managed the investment of over $100,000 of the university endowment via qualitative, multiples, and DCF analysis, resulting in growth exceeding S&P 500 Midcap Index on invested funds.</li>
        <li>Competed nationally in investment competitions, and was a Finalist in the Spring 2011 <a href="http://miiuic.org/">Michigan Interactive Investments Competition</a>.</li>
        <li><em>Previous Positions:</em> Technology Portfolio Manager (2010), Webmaster (2010-2011), Healthcare Analyst (2010).</li>
    </ul>
</div>


