<div class="container no-padding">
    <div class="col col-sm-6 col-lg-8 no-padding">
        <h3>Quantitative</h3>
        <div class="cloud">
            <span class="label label-inverse">Optimization</span>
            <span class="label label-inverse">Statistics</span>
            <span class="label label-inverse">Control Systems</span>
            <span class="label label-inverse">Signal Analysis</span>
            <span class="label label-default">Operations Research</span>
            <span class="label label-default">Queueing Theory</span>
        </div>
        <h3 class="no-top-margin">Languages</h3>
        <div class="cloud">
            <span class="label label-inverse">Matlab</span>
            <span class="label label-inverse">Ruby</span>
            <span class="label label-inverse">Javascript</span>
            <span class="label label-inverse">Python</span>
            <span class="label label-inverse">PHP</span>
            <span class="label label-default">Mathematica</span>
            <span class="label label-default">Java</span>
            <span class="label label-default">Objective-C</span>
            <span class="label label-default">C#</span>
            <span class="label label-default">R</span>
        </div>
        <h3>Frameworks and Systems</h3>
        <div class="cloud">
            <span class="label label-inverse">Ruby on Rails</span>
            <span class="label label-inverse">Backbone.js</span>
            <span class="label label-inverse">DNS</span>
            <span class="label label-default">Hadoop</span>
            <span class="label label-default">HBase</span>
            <span class="label label-default">Hive</span>
            <span class="label label-default">Puppet</span>
            <span class="label label-default">Django</span>
            <span class="label label-default">FuelPHP</span>
        </div>
        <!--<a href="/labs/" id="labs-button" class="btn btn-inverse full-width visible-xs">View projects</a>-->
    </div>
    <div class="projects col col-sm-6 hidden-xs col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Selected Projects</div>
            <div class="panel-body">
                <ul>
                    <li><a href="http://textreject.com">Text Reject</a></li>
                    <li><a href="http://scheduling.philipithomas.com">Employee Scheduling Algorithm</a></li>
                    <li><a href="http://queue.philipithomas.com/">Queue Simulator</a></li>
                    <li><a href="https://github.com/sjkaliski/numbers.js">Numbers.js</a></li>
                </ul>
                <!--<a href="/labs/" class="btn btn-inverse full-width btn-xs">View all projects</a>-->
            </div>
        </div>
    </div>
</div>
