<div class="container">
  <div class="row">
    <div class="one-half column photo-column">
    </div>
    <div class="one-half column description-column">
      <div class="text-container">
        <h1>Philip I. Thomas</h1>
        <p>
          I am building <a target="_BLANK" href="https://www.staffjoy.com">Staffjoy</a>, an automated workforce management application, based on my research in applied mathematics. I graduated from <a target="_BLANK" href="https://en.wikipedia.org/wiki/Washington_University_in_St._Louis">Washington University in St. Louis</a> in 2013 with majors in <a target="_BLANK" href="https://en.wikipedia.org/wiki/Systems_engineering">Systems Engineering</a> and <a target="_BLANK" href="https://en.wikipedia.org/wiki/Physics">Physics</a>. I also was a <a href="http://ycombinator.com/">Y Combinator</a> <a href="https://fellowship.ycombinator.com/">Fellow</a> in their inaugural class. I study <a target="_BLANK" href="https://en.wikipedia.org/wiki/Krav_Maga">Krav Maga</a>, and tinkering with <a target="_BLANK" href="https://en.wikipedia.org/wiki/Fountain_pen">fountain pens</a> and <a target="_BLANK" href="https://en.wikipedia.org/wiki/Automatic_watch">automatic watches</a>.
      </p>
      {{ partial "social.html" . }}
    </div>
    <p class="credit">&copy; 2016 Philip I. Thomas. All Rights Reserved.</p>
  </div>
</div>
