<div class="container">
  <div class="row">
    <div class="column photo-column"></div>
    <div class="column description-column">
      <div class="text-container">
        <h1>Philip I. Thomas</h1>
        <p>
          I'm an engineer interested in the information economy and the future of work. I currently work at <a href="https://www.trustedhealth.com/" target="_blank" rel="noopener noreferrer nofollow">Trusted Health</a> where I'm building a better way for hospitals to hire. I founded the remote developer
          community <a href="https://www.moonlightwork.com" target="_blank" rel="noopener noreferrer nofollow"
            aria-label="Moonlight">Moonlight</a>, which
          was <a target="_blank" rel="noopener noreferrer nofollow" aria-label="Moonlight acquired by PullRequest"
            href="https://techcrunch.com/2020/02/17/pullrequest-snags-remote-developer-hiring-platform-moonlight-in-case-of-startup-buying-startup/">acquired
            by PullRequest</a> in 2020.
        </p>
        {{ partial "social.html" . }}
      </div>
      <p class="credit">
        &copy; {{ .Now.Format "2006" }}. All Rights Reserved.
      </p>
    </div>
  </div>
</div>
