<div class="row">
    <div class="col-sm-12 mailchimp">
        <h3>Join my mailing list:</h3>
        {% include layout/mailchimp.html %}
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
      <div class="footer-legal">
        <h3>&copy; {{ site.time | date: '%Y' }}</h3>
        <ul>
          {% for item in site.data.footer_legal %}
            <li><a href="{{ item.href }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-sm-3 hidden-xs">
      <div class="footer-nav">
        <h3>Pages</h3>
        <ul>
          {% for item in site.data.footer_nav %}
            <li><a href="{{ item.href }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-sm-3 hidden-xs">
      <div class="footer-projects">
        <h3>Projects</h3>
        <ul>
          {% for item in site.data.footer_projects %}
            <li><a href="{{ item.href }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-sm-3 hidden-xs">
      <div class="footer-social">
        <h3>Social</h3>
        <ul>
          {% for item in site.data.footer_social %}
            <li><a href="{{ item.href }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
<div>
