<form action="//philipithomas.us4.list-manage.com/subscribe/post?u=d7ca39dfdca097edc39f8ca88&amp;id=ff4806eeab" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" >
  <div class="input-group full-width">
    <input type="email" value="" name="EMAIL" class="form-control required email full-width" id="mce-EMAIL"  placeholder="mail@example.com" />
    <span class="input-group-btn">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-inverse" />
    </span>
  </div>
</form>
