<div class="section">
  <div class="row main">
    <h3 class="left col-sm-8 title">
      {{ section.org | markdownify }}
    </h3>
    <h3 class="right col-sm-4 hidden-xs pull-right text-right title">
      {{ section.location | markdownify }}
    </h3>
  </div>
  <div class="resume-subtitle row">
    <h4 class="left col-sm-8">
      {{ section.role | markdownify }}
    </h4>
    <h4 class="right col-sm-4 hidden-xs pull-right text-right">
      {{ section.when | markdownify }}
    </h4>
  </div>
  {% if section.bullets %}
    <ul class="bullets">
      {% for bullet in section.bullets %}
        <li>{{ bullet | markdownify }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

