
<article class="resume">
    <section id="professional">
        <div class="page-header"><h2>Professional</h2></div>
        {{ range .Page.Site.Data.resume.professional }}
    		<h4>{{.role}} at {{.org}}</h4>
    		<em>{{.when}} in {{ .location }}</em>
    		<ul>
    			{{ range .bullets}}
    			<li> {{ . | markdownify}} </li>
    			{{end}}
    		</ul>
       	{{end}} 
    </section>

    <section id="education">
        <div class="page-header"><h2>Education</h2></div>
        {{ range .Page.Site.Data.resume.education }}
    		<h4>{{.role}}</h4>
    		<h5}{{.org}}</h4>
    		<em>{{.when}} in {{ .location }}</em>
    		<ul>
    			{{ range .bullets}}
    			<li> {{ . | markdownify}} </li>
    			{{end}}
    		</ul>
       	{{end}} 
    </section>
    <section id="honors">
		<h2>Honors and Awards</h2>
		{{ range .Page.Site.Data.resume.honors }}
			{{ . | markdownify }}
		{{ end }}


	</section>
</article>
