<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>        
        {{ content }} 
<script type="text/javascript">
var _gauges = _gauges || [];
(function() {
var t   = document.createElement('script');
t.type  = 'text/javascript';
t.async = true;
t.id    = 'gauges-tracker';
t.setAttribute('data-site-id', '529d53bb613f5d39ad00003d');
t.src = '//secure.gaug.es/track.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(t, s);
  })();
</script>

    </body>
</html>
