---
layout: default
header_insert: '<style type="text/css">body {background-color: #000000;}</style>'
---
<div class="home">
    <div class="container text-center">
        <div class="col col-lg-4 col-lg-offset-4">
                
            {{ content }}

            {% include logo.html %}

            <div class="home-nav">
                <ul>
                    {% include menu.html %}
                </ul>
                    {% include social.html %}
              </div>
        </div>
    </div>
</div>
