---
layout: default
---
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    {% include logo.html %}
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            {% include menu.html %}
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>


<div class="container torso">

    <div class="row">
        <div class="col col-md-2 col-md-offset-1 hidden-sm">
            {% if (page.sidebar != 'false') %}
                <ul class="nav nav-pills nav-stacked sidebar">
                    {% include menu.html %}
                </ul>
            {% endif %}
        </div>
        <div class="col col-md-6 content">
            
            {{ content }}

            {% include footer.html %}
        </div>
    </div>
</div>
