---
layout: default
---
<div class="pretty-top"></div>
<div class="container torso">
    <div class="row">
      <div class="col-sm-12 logo-container">
        <a href="/" class="logo">Philip I. Thomas</a>
      </div>
      <div class="col col-md-7">
            {{ content }}
      </div>
      <div class="col col-md-5">
        {% include layout/sidebar.html %}
      </div>
    </div>
    <div class="row"
      <footer class="col-sm-12">
          {% include layout/footer.html %}
      </footer>
    </div>
</div>

