---
layout: default
---
<div class="container torso">
  <div class="row">
    <div class="col-sm-12 logo-container">
      <a href="/" class="logo">{{ site.name }}</a>
      <div class="tagline">{{ site.tagline }}</div>
    </div>
    <div class="col col-lg-9 col-md-9 col-sm-9 col-xs-12 content">
          {{ content }}
    </div>
    <div class="col col-lg-3 col-md-3 col-xs-3 hidden-xs">
      {% include layout/sidebar.html %}
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      {% include layout/footer.html %}
    </div>
  </div>
</footer>

