---
layout: default
---
<article>
<div id="post">
<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
<p id="date"><small>{{ page.date | date: "%e %B %Y" }}</small></p>	

    
{{ content }}
</div>
<aside>

<div data-src="http://www.philipithomas.com{{ page.url }}" class="OUTBRAIN" ></div>
<script type="text/javascript">(function(){window.OB_platformType=8;window.OB_langJS="http://widgets.outbrain.com/lang_en.js";window.OBITm="1365374189645";window.OB_recMode="brn_box";var ob=document.createElement("script");ob.type="text/javascript";ob.async=true;ob.src="http"+("https:"===document.location.protocol?"s":"")+"://widgets.outbrain.com/outbrainLT.js";var h=document.getElementsByTagName("script")[0];h.parentNode.insertBefore(ob,h);})();</script>

</aside>
</article>
