---
layout: default
---
<article>
<div id="post">
<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
<p id="date"><small>{{ page.date | date: "%e %B %Y" }}</small></p>	

    
{{ content }}
</div>
</article>
<aside>
<div id="related" style="padding-top: 50px">
 <h3>Related Posts </h3>

   <table id="posts">
  	  <col style="width:30%">
      <col style="width:70%">
    {% for post in site.related_posts limit:3 %}
      <tr><td>{{ post.date | date: "%e %B %Y" }}</td><td><a href="{{ post.url }}">{{ post.title }}</a></td></tr>
    {% endfor %}
</table>


</aside>