---
layout: default
header_insert: <link rel="stylesheet" href="/css/resume.css" /><script src="/js/resume.js" type="text/javascript"></script>
---
<div class="resume-header">
    <a href="/">
        <h4>Resume For</h4>
        {% include logo.html %}
    </a>
</div>
<!--
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    {% include logo.html %}
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            {% include menu.html %}
        </ul>
    </div>>
</nav>
-->

<div class="container torso">

    <div class="row">
        <div class="col col-lg-2 col-lg-offset-1 col-md-2 col-sm-2">
            {% if (page.sidebar != 'false') %}
                <ul class="nav nav-pills nav-stacked sidebar hidden-xs">
                    {% include menu.html %}
                </ul>
            {% endif %}
        </div>
        <div class="col col-sm-10 col-md-8 col-lg-6 resume">

            {{ content }}

        </div>
    </div>
</div>

<footer class="container">
    {% include footer.html %}
</footer>

